# Ignore Vivado generated folders
*.cache/
*.hw/
*.ip_user_files/
*.sim/
.Xil/

# Ignore Vivado log files
*.jou
*.log
*.str
*.pb
*.wdb
*.dir/

# Ignore Synthesis and Implementation build folders
*.runs/
*.dcp

# Ignore compiled bitstreams.
*.bit
*.bin
